@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.contect-img{
  background: url("/assets/contect.jpg")no-repeat center center/cover;
}
.login-img{
  background: url("/assets/login-img.jpg")no-repeat center center/cover;
}

.signup-img{
  background: url("/assets/Signup.jpg")no-repeat center center/cover;
}
.hireUs{
  background: url("/assets/bg-img.jpg")no-repeat center center/cover;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.homePage{
  background: url("/assets/bg2.jpg")no-repeat center center/cover;
}


.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: gola 1s linear infinite;
}

@keyframes gola {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.camera {
  width: 80px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 5px;
  position: relative;
}

.camera-lens {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.camera-body {
  width: 70px;
  height: 50px;
  background: #333;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.camera-strap {
  width: 40px;
  height: 4px;
  background: #333;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.shutter {
  width: 80px;
  height: 4px;
  background: #333;
  margin-top: 10px;
  animation: shutterAnimation 1s infinite;
}

@keyframes shutterAnimation {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.image-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-loader {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@layer utilities {
  .object-contain {
    object-fit: contain;
  }

  .object-cover {
    object-fit: cover;
  }

  /* Add more utility classes for other object-fit values if needed */
}